@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Windemere Manor</h1>
    <p>This place is under construction right now, so please bear with us.</p>
    <img src="~/images/under-construction.jpg" />
    <p>The following is a list of planned features for this site, please let me know if a feature in particular stands out and I'll try to prioritize it.</p>
    <ul>
        <li>Reminder list(s)</li>
        <li>Article system (to store information about the house...examples to come)</li>
        <li>Dinner schedule</li>
        <li>Anylist integration</li>
        <li>Anything else you can think of (within reason)...</li>
    </ul>
</div>
