@page
@using WindemereManor.Models
@model KitchenModel
@{
    ViewData["Title"] = "Hoyer Kitchen";
}

<head>
    <link rel="stylesheet" href="~/css/tables.css" />
</head>

<div class="text-center">
    <h1 class="display-4">Hoyer Kitchen Dashboard</h1>

    <h4>Fridge Contents</h4>
    <table border="1">
        <tr>
            <th>Item</th>
            <th>Added</th>
            <th>Expires</th>
        </tr>
        @foreach (FridgeItem item in Model.FridgeItems)
        {
            <tr>
                <td>@item.ItemName</td>
                <td>@item.AddedOn</td>
                <td>@item.Expiration</td>
            </tr>
        }
    </table>
</div>
